#vs
*.log
*.tlog
*.txt
*.obj
*.exp
*.iobj
*.ipdb
*.ipch
*.suo
*.user
*.aps
*.pch
*.vs
*.ilk
*.VC.db

#intermediate
/intermediate

#lib
lib/AutoSearchItem.*
lib/CrashReport.*
lib/DataStore.*
lib/ListDataLite.*
lib/ModuleMgr.*
lib/bubble.*
lib/cooper.*
lib/danmaku.*
lib/digital.*
lib/netdoctorplugin.*
lib/player.*
lib/userdata.*
lib/utility.*
pstyle/libs/

#bin
pub/bin/*/App.*
pub/bin/*/CrashReport.*
pub/bin/*/CubeDownload.*
pub/bin/*/DownloadCenter.*
pub/bin/*/ListDataLite.*
pub/bin/*/OnlineList.*
pub/bin/*/PopupWndProxy.*
pub/bin/*/PumaXiuWrapper.*
pub/bin/*/QiyiMainPlugin.*
pub/bin/*/QiyiService.*
pub/bin/*/QyClient.*
pub/bin/*/QyFragment.*
pub/bin/*/QyHttpSvr.*
pub/bin/*/QyLauncher.*
pub/bin/*/QyLogUp.*
pub/bin/*/QyMisc.*
pub/bin/*/QyPlayer.*
pub/bin/*/QyPopWndDll.*
pub/bin/*/UserPreferences.*
pub/bin/*/WebBrowserCtrl.*
pub/bin/*/bubble.*
pub/bin/*/cooper.*
pub/bin/*/danmaku.*
pub/bin/*/digital.*
pub/bin/*/global.*
pub/bin/*/netdoctorplugin.*
pub/bin/*/parker.*
pub/bin/*/pingback.lib
pub/bin/*/player.*
pub/bin/*/root.*
pub/bin/*/userdata.*
pub/bin/*/utility.*
pub/bin/*/webchange.html

#QYAppPlugin
/pub/bin/*/QYAppPlugin

!/pub/bin/*/QYAppPlugin/*/install.ini
!/pub/bin/*/QYAppPlugin/*/pluginrepository.xml

#skin
/pub/bin/*/skin
/pub/bin/publish/QYAppPlugin/mobileassistantplugin
/pub/bin/publish/QYAppPlugin/qixiu
/pub/bin/publish/QYAppPlugin/qiyitvPlugin
/pub/bin/publish/QYAppPlugin/QyGameClient
/pub/bin/publish/QYAppPlugin/wasabi
/pub/bin/publish/QYAppPlugin/components
/pub/bin/publish/QYAppPlugin/falcon
/pub/bin/release/Wasabi.dll
/pub/bin/release/Wasabi.dll
